.Master1{
    width: 50%;
    height: 500px;
    position: relative;
    display: flex;
}

.ObMaster1{
    width: 100%;
    height: 500px;
    position: absolute;
}

.imgMaster1{
    width: 100%;
    height: 500px;
    position: absolute;
}

    
